body {
  background: linear-gradient(
    0deg,
    rgba(7, 7, 22, 1) 0%,
    rgba(61, 60, 142, 1) 100%
  );
  display: flex;
  align-items: center;
  height: 100vh;
}

.clock {
  position: relative;
  width: 350px;
  height: 350px;
  background: #ececec;
  border-radius: 50%;
  margin: 0 auto;
  background: radial-gradient(
    farthest-side ellipse at top left,
    white,
    #aaaaaa
  );
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3),
    -5px -10px 20px rgba(255, 255, 255, 0.5);
}

.hand {
  position: absolute;
  width: 4px;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hand--hour {
  height: 150px;
  background: rgba(7, 7, 22);
}

.hand--min {
  height: 130px;
  background: rgba(7, 7, 22);
}

.hand--sec {
  width: 2px;
  height: 130px;
  background: rgb(7, 4, 57);
}
